<!DOCTYPE html>
<html>
    <head>
        <title>Blog World</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/img/favicon/site.webmanifest">

        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="header-banner"></div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li style="position: relative;" onmouseover="document.getElementById('subMenu').style.display = 'block';" onmouseout="document.getElementById('subMenu').style.display = 'none';">
                                <a href="/blogs">Blog</a>
                                <ul id="subMenu" class="sub-menu">
                                    <li><a href="/blogs/create">Create Blog</a></li>
                                    <li><a href="/blogs/list">List Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main class="two-column">
                <section>
                    <h1>Welcome to Blog World</h1>
                </section>
                <aside>This is side bar</aside>
            </main>

            <footer>
                <div class="footer-links">
                    <a href="javascript: void(0);">About</a> | <a href="javascript: void(0);">Contact</a>
                </div>
                <div class="footer-text">Developed & Maintained by SGD Technologies <br><em><strong>&copy; 2021</strong></em></div>
            </footer>
        </div>
    </body>
</html>