<footer>
    <div class="footer-links">
        <a href="javascript: void(0);">About</a> | <a href="javascript: void(0);">Contact</a>
    </div>
    <div class="footer-text">Developed & Maintained by SGD Technologies <br><em><strong>&copy; 2021</strong></em></div>
</footer>