/* -------------------------- Footer Styling Starts -------------------------- */
footer {
    background-color: rgb(178, 191, 204);
    padding: 5px 10px;
}

.footer-links {
    font-size: 13px;
    font-style: italic;
    margin: 1px;
}

.footer-text {
    font-size: 14px;
}
/* -------------------------- Footer Styling Ends -------------------------- */
